body{
    text-align: center !important;
    background-image: url("backdrop.jpeg");
    background-position: center;
    background-size: cover;
   height: 800px;
}
p{
    font-weight: bold;
    font-style: unset;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}
h3{
    font-weight: bold;
    font-style: unset;
    color:white;

}

input{
    width: 300px !important;
   display: inline-block !important;
   margin-bottom: 15px;
}


.container{
    margin-top: 30px;
}
button{
    color: white;
    background-color: black;
}
h1{
    color: white;
    font-weight: bold;
    font-style: unset;
}
#h41{
    width: 150px;
   
    color: white;
    border-radius: 100px;
    float:  right;
}
#h42{
    width: 150px;
   
    color: white;
    border-radius: 100px;
    float:  right;
}

   